<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="views/layout/base-layout">
<head>
  <meta charset="UTF-8">
</head>
<body>

<div layout:fragment="body">
  <div class="container" style="margin: 0 auto;">
    <h1>Đăng nhập</h1>
    <div th:if="${param.error != null}"><p style="color: red">
      Login error!!!
    </p></div>

    <div th:if="${param.accessDenied != null}"><p style="color: red">
      Bạn không có quyền truy cập!!!
    </p></div>
    <form th:action="@{/user/login}" method="post">
      <div class="form-row">
        <div class="col-md-6 form-group">
          <div class="col-md-6 form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email">
          </div>

          <div class="col-md-6 form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
          </div>

          <div class="col-md-6 form-group">
            <button type="submit" class="btn btn-success">Đăng nhập</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>